header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-bottom: 2px solid grey;

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    .header_logo {
      width: 8rem;
    }

    nav {
      .boutons_menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        li {
          margin: 0 25px;

          :hover {
            color: rgb(233, 144, 27);
          }

          a {
            color: black;
            text-decoration: none;
          }
        }
      }
    }
  }
}

h1 {
  font-size: 5vw;
  font-family: 'Lobster', sans-serif;
}

.conteneur {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  row-gap: 2rem;
  column-gap: 2rem;
  padding: 0rem 10rem;
}

.article {
  border: 2px solid rgba(0, 0, 0, 0.479);
  border-radius: 10px;
  box-shadow: 10px 5px 15px rgba(194, 127, 2, 0.301);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;

  .box_photo {
    a {
      display: flex;
      justify-content: center;

      .photo_miel {
        width: 60%;
      }
    }
  }

  .texte_article {
    background-color: #ffffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3vw;
    font-family: 'Tangerine';
    font-weight: bold;
    align-items: start;

    .titre_article {
      color: black;
      text-decoration: none;

      :hover {
        color: blue
      }

      h3 {
        margin: 0;
      }

    }

    .prix {
      margin: 0;

      .bigger {
        font-size: 2em;
      }
    }

    .ajout_panier {
      .choix_valeur {
        width: 3rem;
      }

      .bouton_ajout {
        background-color: rgba(255, 231, 153, 0.562);
        border: 3px solid rgba(255, 166, 0, 0.87);
      }
    }

  }

}


@media (min-width: 600px) and (max-width: 1199px) {
  h1 {
    font-size: 10vw;
  }

  .conteneur {
    grid-template-columns: 100vw;
  }

  .text_box {
    font-size: 4vw;
  }
}

@media (max-width: 599px) {
  h1 {
    font-size: 10vw;
  }

  .conteneur {
    grid-template-columns: 100vw;
  }

  .text_box {
    font-size: 8vw;
  }

  .article {
    flex-direction: column;
  }
}